%h1 Action Types

%table.table
  %tr
    %th Name
    %th
    %th
  - @action_types.each do |action_type|
    %tr
      %td= action_type.name
      %td{width: 35}= link_to 'Edit', edit_admin_action_type_path(action_type), :class => 'btn btn-mini'
      %td{width: 55}= link_to 'Destroy', admin_action_type_path(action_type), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'


= link_to 'New Action Type', new_admin_action_type_path, :class => 'btn btn-success'
