<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @earned_awards.present? %>
      <% if @earned_awards.size > 1 %>
        <p>Congratulations! You just earned the following awards:</p>
        <ul>
          <% for award in @earned_awards %>
            <h3><%= award.name %></h3>
          <% end %>
      <% else %>
        <%= @earned_awards.first.success_message %>
      <% end %>
    <% else %>
      <p>Nice work! You're on your way to earning the following awards:</p>
      <% for award in @in_progress_awards %>
        <h3><%= award.name %></h3>
      <% end %>
    <% end %>
  </body>
</html>