<!DOCTYPE html>
%html
	%head
		%meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
	%body
		- if @user.first_name.present?
			%p
				== Dear #{@user.first_name},
		%p
			Thanks for taking action!  

		%p By using Citizens Connect or by sending an email to reports@streetcred.us, you have earned the chance to join Street Cred. This is an effort by the City of Boston to recognize those local heroes who take action to make their neighborhoods better. Participants earn cred for good deeds done across the city, as part of specific community campaigns.

		%p To get started, visit Street Cred and sign in.  Once you’ve claimed your profile, check out some of the current campaigns.

		%p We look look forward to working with you!

		%p - The Street Cred Team
