= render partial: 'user_header'

.page.container
  .row
    .span10
      %h1
        Active Campaigns
    .span2
      %h1 
        Awards

  - for campaign in @active_campaigns
    = render partial: 'active_campaign', locals: {campaign: campaign}
      
  %hr
  .row
    .span12
      %h2 Completed Campaigns
  
  - for campaign in @completed_campaigns
    = render partial: 'completed_campaign', locals: {campaign: campaign}

  %hr
  .row
    .span12
      = gmaps4rails(@json)

%script{:src => 'http://beta.openbadges.org/issuer.js'}
:javascript
  $(document).ready(function() {
    $('.openbadge-link').on('click', function(e) {
      var campaign = $(e.target).data('api');
      OpenBadges.issue(campaign, function(errors, successes) {
        console.log(errors,successes);
      });
    });
  });
