%fieldset
  = f.select(:action_type_id, ActionType.asc(:name).collect {|x| ["#{x.channel.try(:name)} -- #{x.name}", x.id]}, {}, :class => 'required_action')
  = link_to ("<i class='icon icon-remove'></i>").html_safe, '#', class: "remove_fields btn btn-mini btn-danger"