.sub-header.blue
	#MyCarousel.container.text-center.carousel.slide
		.span4.text-right.white.home-navigation
			%p street cred
			%p get an app
			%p take action
			%p earn cred
			%p see change
		#slides.span4
			= image_tag('/assets/iphone-2.png')
		.span3.text-left.white.home-description
			StreeCred is where actions affect change. Join a campaign and earn cred. Every month, you have the opportunity to complete a new campaign, working with your neighbors to build a better city.
