.page.container

  %h1 Campaigns

  %p.medium
    You earn Street Cred by achieving the goals laid out in campaigns.  Each campaign is a time-limited initiative focused on a specific effort to make the city better.  Campaigns have both personal and community goals.  If you achieve your personal goal, you earn a Street Cred award; if, together, the community achieves the community goal, a red ribbon will be added to the award. When you claim your profile, you are automatically a participant in every campaign.

  %p.medium
    You also earns 5 points for every action taken. You even earn 5 points for every  report they make through Citizens Connect, even if it is not part of a campaign.  If you earn an individual award by completing a campaign, you earn an additional 25 points.  If your action helps the community meet its goal, you earn another 50 points.  
  %br/

  - for campaign in @active_campaigns
    .well
      = render partial: 'campaign', locals: {campaign: campaign}

  - for campaign in @completed_campaigns
    .well
      = render partial: 'campaign', locals: {campaign: campaign}