.page.colorPrimary-white
  .paddingHorizontal-xxl.paddingBottom-lg
    .paddingHorizontal-xxl.paddingBottom-xxl.paddingTop-lg
      %h4 Campaigns

      %p.medium
        You earn StreetCred by achieving the goals laid out in campaigns. Each campaign is a time-limited initiative focused on a specific effort to make the city better. Campaigns have both personal and community goals. If you achieve your personal goal, you earn a Street Cred award; if, together, the community achieves the community goal, you earn an additional award. When you claim your profile, you are automatically a participant in every campaign.
      %p.medium
        Click on the campaigns to see how to earn awards, and check out your dashboard to keep track of all of your awards and actions!
      %br/

    - for campaign in @active_campaigns
      .well.colorSecondary-black.boxShadow-md.borderRadius-sm
        = render partial: 'campaign', locals: {campaign: campaign}

    - if @completed_campaigns.present?
      %h3 Previous Campaigns
      %br/
      - for campaign in @completed_campaigns
        .well
          = render partial: 'campaign', locals: {campaign: campaign}

- content_for :scripts do
  :javascript
    $(window).load(function() { 
    $("#wrap, #footer").css({
    backgroundColor:"#5b6469"
    });
    $(".gravatar img").each(function(){ 
    var image = $(this); 
    if(image.context.naturalWidth == 0 || image.readyState == 'uninitialized'){  
    $(image).attr('src', '/assets/NoProfilePhoto_sm.jpg');
    } 
    }); 
    });
    if( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $(window).stellar();
    }