.page.container

  %h1 Campaigns

  - for campaign in @active_campaigns
    .well
      = render partial: 'campaign', locals: {campaign: campaign}

  - for campaign in @completed_campaigns
    .well
      = render partial: 'campaign', locals: {campaign: campaign}