.page.container

  %h1 Campaigns

  .active-campaigns
    %h3 Current
    - for campaign in @active_campaigns
      = render partial: 'campaign', locals: {campaign: campaign}

  .completed-campaigns
    %h3 Completed
    - for campaign in @completed_campaigns
      = render partial: 'campaign', locals: {campaign: campaign}