.sub-header.gray
  .container
    .row
      .span12
        Campaigns are ...

.page.container

  %h1 Active Campaigns
  .active-campaigns
    - for campaign in @active_campaigns
      = render partial: 'campaign', locals: {campaign: campaign}

  %h2 Completed Campaigns
  .completed-campaigns
    - for campaign in @completed_campaigns
      = render partial: 'campaign', locals: {campaign: campaign}