.checkboxes{
  margin: 5px 0 20px 0;
}
.field label{
  font-weight: bold;
  margin-top: 10px;
}
.fields_group{
  margin-bottom: 20px;
}
h1{
  padding-bottom: 15px;
}
.required_action_occurrences{
  width: 28px !important;
  padding-left: 3px;
}
.field.required_actions{
  margin-bottom: 20px;
}
.remove_fields{
  margin-top: -10px;
}
.add_fields{
  margin-top: 5px;
}