.checkboxes{
  margin: 5px 0 20px 0;
}
.field label{
  font-weight: bold;
  margin-top: 10px;
}
h1{
  padding-bottom: 15px;
}
.required_action_occurrences{
  width: 28px !important;
  padding-left: 3px;
}
.field.required_actions{
  margin-bottom: 25px;
}
.delete_icon{
  margin-bottom: 10px;
}