.field label{
  font-weight: bold;
  margin-top: 10px;
}
.fields_group{
  margin-bottom: 20px;
}
h1{
  padding-bottom: 15px;
}
.field.required_actions{
  margin-bottom: 20px;
}
.required_action{
  width: 400px;
}
.remove_fields{
  margin-top: -10px;
}
.add_fields{
  margin-top: 5px;
}

.actions{
  margin-top: 30px;
}

#campaign_start_time_2i {
  width: 150px;
}
#campaign_start_time_3i {
  width: 75px;
}
#campaign_start_time_1i {
  width: 100px;
}
#campaign_end_time_2i {
  width: 150px;
}
#campaign_end_time_3i {
  width: 75px;
}
#campaign_end_time_1i {
  width: 100px;
}