.header{
	background: #d6d9dc url('/assets/header.jpg') no-repeat center;
	height: 111px;
}
.sub-header{
	padding-top: 50px;
	padding-bottom: 40px;
	h1{
		margin: 0 0 0 0;
	}
	h3{
		margin: -10px 0 4px 0;
	}
}
.sub-header.gray{
	background-color: #f0f0f0;
}
.sub-header.blue{
	background-color: #02b4d7;
}

.page{
	margin-top: 50px;
	margin-bottom: 100px;
}

.user{
	margin: 15px 0 15px 0;
	h1{
		margin: 0 0 0 0;
	}
	h3{
		margin: -10px 0 4px 0;
	}
}
.active-campaigns{
	margin: 40px 0 40px 0;
}
.completed-campaigns{
	margin: 40px 0 40px 0;
}
.campaign{
	.title{
		font-size: 1.8em;
		margin-bottom: .7em;
	}
}
.active-campaign{
	margin-top: 30px;
	padding-bottom: 30px;
}
.progress-row{
	margin-top: 15px;
	.progress{
		height: 26px;
		margin-bottom: 5px;
		.bar-gray{
			background-color: #999999;
			background-image: none;
		}
	}
}
.badges{
	padding-top: 17px;
}
.individual{
	padding-top: 20px;
	text-align: left;
}
.community{
	padding-top: 45px;
	text-align: left;
}
.home-navigation{
	margin-top: 120px;	
	font-size: 2em;
	line-height: 1.5em;
}
.home-description{
	margin-top: 120px;
	font-size: 1.3em;
	line-height: 1.7em;
}
.no-margin{margin-left: 0;}
.stat{
	h1{ margin-bottom: 0px;}
	h2{ margin-top: 0px; margin-bottom: 0px;}
}
.green{
	background-color: #61c161;
}
.blue{
	background-color: #00aecf;
}
.red{
	background-color: #d54326;
}
.yellow{
	background-color: #e7ad00;
}
.white{
	color: white;
}
.details-button{
	padding-top: 16px;
	padding-right: 30px;
}