$blue: #00aecf;
$light-blue: #26bad6;
$green: #61c161;
$bright-green: #a6ce39;
$red: #d54326;
$yellow: #e7ad00;
$light-yellow: #f3e486;
$pale-yellow: #fffef2;
$light-gray: #f5f5f5;
$mid-gray: #e6e6e6;
$dark-gray: #767b80;
$charcoal: #5a5e61;

.white-background { background-color: white; }
.gray-background { background-color: $light-gray; }
.mid-gray-background { background-color: $mid-gray; }
.dark-gray-background {	background-color: $dark-gray; }
.charcoal-background { background-color: $charcoal; }
.blue-background { background-color: $blue; }
.light-blue-background { background-color: $light-blue; }
.green-background { background-color: $green; }
.bright-green-background { background-color: $bright-green; }
.red-background { background-color: $red; }
.light-yellow-background { background-color: $light-yellow; }
.yellow-background { background-color: $yellow; }

#map-background-blue{ background: $blue url('/assets/boston-map.png') repeat center top; }

.white { color: white; }
.yellow { color: $yellow; }
.pale-yellow { color: $pale-yellow; }
.blue { color: $blue; }
.mid-gray { color: $mid-gray; }
.black { color: #222222; }

a.white { color: white; text-decoration: underline; }
a.white:hover { color: $yellow; text-decoration: underline; }
a.pale-yellow { color: $pale-yellow; text-decoration: none; }
a.pale-yellow:hover { color: $yellow; text-decoration: underline; }
a.light-yellow { color: $light-yellow; text-decoration: none; }
a.light-yellow:hover { color: $light-yellow; text-decoration: underline; }
a.yellow { color: $yellow; text-decoration: none; }
a.yellow:hover { color: $yellow; text-decoration: underline; }
a.black { color: #222; text-decoration: none; }
a.black:hover { color: #222; text-decoration: underline; }

.full-width-large { padding-top: 50px; padding-bottom: 50px; }
.full-width-medium { padding-top: 30px; padding-bottom: 30px; }
.full-width-small { padding-top: 10px; padding-bottom: 10px; }

span.large { font-size: 1.2em; font-weight: 300; }

h1 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h2 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h3 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h4 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h5 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }

html,
body {
  height: 100%;
	font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

#push,
#footer {
  height: 100px;
}
#footer {
	padding-top: 50px;
	font-weight: 300;
	line-height: 1.5em;
	color: $light-gray;
}
#logo {
	margin-top: 10px;
}
#navigation {
	margin-top: 20px;
	margin-bottom: 10px;
}
.tagline {
	margin-top: 30px;
}
.slogan {
	padding-bottom: 1.5em;
}
#map {
	width: 100%;
	height: 600px;
	position: relative;
}
.map_container {
	width: 100%;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.gmaps4rails_map {
	width: 100%;
	height: 500px;
}

.page {
	margin-top: 50px;
	margin-bottom: 100px;
}

.medium { font-size: 1.2em; line-height: 1.4em; font-weight: 300; }
.large { font-size: 1.4em; line-height: 1.4em; font-weight: 300; }
.larger { font-size: 1.6em; line-height: 1.4em; font-weight: 300; }

.user {
	margin: 15px 0 15px 0;
	h1 { margin: 0 0 0 0;}
	h3{ margin: -10px 0 4px 0; }
}
.active-campaigns {
	margin: 40px 0 40px 0;
}
.completed-campaigns {
	margin: 40px 0 40px 0;
}
.campaign {
	.title{
		font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;; 
		margin-bottom: .7em;
		.main-title { font-size: 1.8em; font-weight: 600; }
		.sub-title { font-size: 1.2em; font-weight: 300; font-style: italic; }
	}
}
.active-campaign {
	margin-top: 30px;
	padding-bottom: 30px;
}
.progress-row{
	margin-top: 15px;
	.progress{
		height: 26px;
		margin-bottom: 5px;
		background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(253,253,253) 100%);
		background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(253,253,253) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(253,253,253) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(253,253,253) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(253,253,253) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(255,255,255)),
			color-stop(1, rgb(253,253,253))
		);
		.gray{
			background-image: linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -o-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(153,153,153)),
				color-stop(1, rgb(178,178,178))
			)
		}
		.blue{
			background-color: white;
			background-image: linear-gradient(bottom, rgb(28,168,196) 0%, rgb(37,186,214) 100%);
			background-image: -o-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(37,186,214) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(37,186,214) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(37,186,214) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(37,186,214) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(28,168,196)),
				color-stop(1, rgb(32,190,221))
			)
		}
	}
}
.badges {
	padding-top: 17px;
}
.individual {
	font-weight: 300;
	font-style: italic;
	padding-top: 20px;
	text-align: left;
}
.community {
	font-family: "adelle", serif;
	font-weight: 300;
	font-style: italic;
	padding-top: 45px;
	text-align: left;
}
.home-navigation {
	margin-top: 110px;	
	line-height: 1.5em;
	font-size: 2.1em;
	font-weight: 300;
	a { color: white; text-decoration: none; }
	a:hover { color: white; }
	ul.slidesjs-pagination {
		list-style-type: none;
		li { 
			list-style-type: none; 
			margin-bottom: 30px;
			.nav-arrow{ margin-top: -5px; padding-left: 3px; }
		}
	}
}

ul.nav {
	margin-bottom: 0px;
}
.nav-pills li {
	margin-left: 5px;
}
.nav-pills.yellow a {
	background-color: $light-gray;
}
.nav-pills.yellow a.active {
	background-color: $light-yellow;
}
.nav-pills.yellow a:hover {
	background-color: $light-yellow;
}
.home-description {
	margin-top: 103px;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.7em;
}
.stat{
	h1{ margin-top: 0px; margin-bottom: 0px; font-weight: 400; }
	padding: 10px;
}
.gravatar {
	margin-top: 15px;
}
.user-name {
	margin-top: 25px;
	h3{ margin-bottom: 10px;}
}
ul.inline li {
	vertical-align: top;
	padding-right: 20px;
	h3 { margin-top: 0px; }
}
#error_explanation{
	h2 { font-size: 1.5em; }
}
.row-highlight {
	margin-top: 20px;
	padding: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: $light-yellow;
}
.list-row-badge { width: 100px; float: left; margin: 0 20px 0 5px; }
.list-row-description { 
	float: left; width: 40%; margin-right: 20px; 
	.active { background-color: $light-yellow; padding: 0 3px 0 3px; }
}
.list-row-progress { float: left; width: 35%; margin: 6px 30px 0 0; }
.list-row-link{ float: left; margin-top: 22px; }
.clear { clear: both; }

#get-started {
	ul {
		margin-top: 14px;
		margin-bottom: 0;
	}
	h3 {margin-top: -2px; }
	.more { margin-top: 5px; }
}
.details-button {
	padding-top: 26px;
	padding-right: 30px;
}