$blue: #00aecf;
$green: #61c161;
$red: #d54326;
$yellow: #e7ad00;
$light-yellow: #f3e486;
$light-gray: #f0f0f0;
$dark-gray: #686f73;



html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

#push,
#footer {
  height: 120px;
}
#footer {
	padding-top: 50px;
	font-family: "adelle", serif;
	font-weight: 100;
	font-size: 1.1em;
	font-style: italic;
	line-height: 1.5em;
	color: white;
  background-color: #9ca09f;
}
.header {
	background: #d6d9dc url('/assets/header.jpg') no-repeat center;
	height: 111px;
}
.sub-header {
	padding-top: 50px;
	padding-bottom: 50px;
	h1 { margin: 0 0 0 0; }
	h2 { margin: 0; }
	h3{ margin: -10px 0 4px 0; }
}
.sub-header.gray {
	background-color: $light-gray;
}
.sub-header.darkgray {
	background-color: $dark-gray;
}
.sub-header.blue {
	background-color: $blue;
}

.map_container {
	width: 100%;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.gmaps4rails_map {
	width: 100%;
	height: 500px;
}

.page {
	margin-top: 50px;
	margin-bottom: 100px;
}

h1 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h2 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h3 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h4 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }
h5 { font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 600; }

.user {
	margin: 15px 0 15px 0;
	h1 { margin: 0 0 0 0;}
	h3{ margin: -10px 0 4px 0; }
}
.active-campaigns {
	margin: 40px 0 40px 0;
}
.completed-campaigns {
	margin: 40px 0 40px 0;
}
.campaign {
	.title{
		font-family: "adelle","Helvetica Neue",Helvetica,Arial,sans-serif;; 
		margin-bottom: .7em;
		.main-title { font-size: 1.8em; font-weight: 600; }
		.sub-title { font-size: 1.2em; font-weight: 300; font-style: italic; }
	}
}
.active-campaign {
	margin-top: 30px;
	padding-bottom: 30px;
}
.progress-row{
	margin-top: 15px;
	.progress{
		height: 26px;
		margin-bottom: 5px;
		.gray{
			background-image: linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -o-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(153,153,153) 0%, rgb(178,178,178) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(153,153,153)),
				color-stop(1, rgb(178,178,178))
			)
		}
		.blue{
			background-image: linear-gradient(bottom, rgb(28,168,196) 0%, rgb(32,190,221) 100%);
			background-image: -o-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(32,190,221) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(32,190,221) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(32,190,221) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(28,168,196) 0%, rgb(32,190,221) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(28,168,196)),
				color-stop(1, rgb(32,190,221))
			)
		}
	}
}
.badges {
	padding-top: 17px;
}
.individual {
	font-family: "adelle", serif;
	font-weight: 300;
	font-style: italic;
	padding-top: 20px;
	text-align: left;
}
.community {
	font-family: "adelle", serif;
	font-weight: 300;
	font-style: italic;
	padding-top: 45px;
	text-align: left;
}
.home-navigation {
	margin-top: 120px;	
	font-size: 2em;
	line-height: 1.5em;
}
.home-description {
	margin-top: 120px;
	font-size: 1.3em;
	line-height: 1.7em;
}
.no-left-margin { margin-left: 0; }
.stat{
	h1{ margin-top: 0px; margin-bottom: 0px; font-weight: 400; }
	color: white;
	padding: 10px;
}
.green-background { background-color: $green; }
.blue-background { background-color: $blue; }
.red-background { background-color: $red; }
.yellow-background { background-color: $yellow; }
.blue { color: $blue; }
.white{ color: white; }
a.white { color: white; text-decoration: underline; }
a.white:hover { color: $yellow; text-decoration: underline; }

.details-button {
	padding-top: 16px;
	padding-right: 30px;
}