<% if @resource.created_at > Time.now.yesterday %>
	<p>Hi <%= @resource.email %></p>

	<p>Thanks for wanting to join StreetCred!</p>

	<p>You're one step away from joining the team:</p>

	<p><%= link_to 'Click here to claim your account', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>Soon you will be on your way to earning recognition for all the good deeds you do across the City.</p>

	<p>Thank you for all you do to make Boston great!</p>

	<p>- The Street Cred Team</p>

	<p>PS: If you didn't request this, please ignore this email.</p>
	
<% else %>

	<p>Hello <%= @resource.email %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
<% end %>