<p>Hi <%= @resource.email %>!</p>

<p>To claim your account or reset your password, please click the link below.</p>

<p><%= link_to 'Claim my account', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
