%h1 Users
%p.well
  Users are created when actions are POSTed to the StreetCred API (using the included email param). Actions that match an existing email address will be associated with the existing user.
%table.table.table-hover
  %tr
    %th User Email
    %th Actions
    %th Completed Campaigns
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.actions.count
      %td= user.campaigns.count
      %td{width: 40}= link_to 'Show', admin_user_path(user), :class => 'btn btn-mini'