#footer.charcoal-background
	.container
		.row
			.span8
				StreetCred is a collaboration between the Engagement Game Lab at Emerson College and the Mayor's Office of New Urban Mechanics in Boston. The project was made possible through a grant from the McArthur Foundation.

			.span2
				= link_to image_tag('/assets/monum.png'), 'http://www.newurbanmechanics.org/'
			.span2
				= link_to image_tag('/assets/engagement-game-lab.png'), 'http://engagementgamelab.org/'


%script{ :src => "/assets/application.js", :type=>"text/javascript" }
%script{ :type => "text/javascript"}
	try{Typekit.load();}catch(e){}

= yield :scripts