%fieldset
  = f.select(:name, ActionType.asc(:name).collect {|x| [x.name, x.name]})
  = f.text_field :occurrences, :class => 'required_action_occurrences'
  = link_to ("<i class='icon-remove '></i>").html_safe, '#', class: "remove_fields btn btn-mini btn-danger"
